
@{
    ViewData["Title"] = "AllStudents";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <strong>All Students</strong>
        </div>

        <div class="col-md-6">
            <button class="btn btn-info">Add New</button>
        </div>
    </div>

    <!-- All Student List -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Sl No</th>
                        <th>Student Code</th>
                        <th>Student Name</th>
                        <th>Student Contact</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>01</td>
                        <td>ST-1011</td>
                        <td>Nazib Mahfuz</td>
                        <td>01777127618</td>
                        <td>
                            <button class="btn btn-info btn-sm">View</button>
                            <button class="btn btn-warning btn-sm">Edit</button>
                            <button class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

