@model List<Student>

@{
    ViewData["Title"] = "AllStudents";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <strong>All Students</strong>
        </div>

        <div class="col-md-6">
            <a asp-controller="Student" asp-action="AddNewStudent" class="btn btn-info float-right">Add New</a>
        </div>
    </div>

    <!-- All Student List -->
    <div class="row">
        <div class="col-md-12">
            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th>Student Code</th>
                        <th>Student Name</th>
                        <th>Student Contact</th>
                        <th>Student Email</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var student in Model)
                    {
                        <tr>
                            <td>@student.StudentCode</td>
                            <td>@student.StudentName</td>
                            <td>@student.StudentPhone</td>
                            <td>@student.StudentEmail</td>
                            <td>
                                <a class="btn btn-info btn-sm">View</a>
                                <a class="btn btn-warning btn-sm">Edit</a>
                                <a class="btn btn-danger btn-sm">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
